%form{ action: '/people/new', method: 'post' }
  %fieldset
    %label First Name
    %input{ type: "input", name: :name_first}
    %label Middle Name
    %input{ type: "input", name: :name_middle }
    %label Last Name
    %input{ type: "input", name: :name_last }
    %label Submit
    %input{ type: "submit", value: "Upload" }
